/* Styles applied for PDF printing */

@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        padding-left: 0px !important;
        text-align: center !important;
    }

    .facilityPrint {

    }

    [class^="Card"] {
        display: block !important;
        width: auto !important;
        margin: auto !important;
        border: none !important;
        box-shadow: none !important;
        /*max-height: 600px;*/
    }

    [class^="CardHeader"] {
        width: unset !important;
    }

    .facilityPieRow {
        margin-left: -40px !important;
        display: inline-flex !important;
    }

    .nivoCard {
        display: inline-block !important;
        width: 26% !important;
        padding: 4px !important;
        box-shadow: none !important;
        background: none !important;
        margin: unset !important;
        text-align: center !important;
    }

    .nivoCard [class^="CardHeader"] {
        width: 90% !important;
        left: 40px;
    }

    /*.nivoCard [class^="CardBody"] {*/
        /*padding: 4px !important;*/
    /*}*/

    /*.nivoGraph {*/
        /*height: 280px !important;*/
    /*}*/

    .facilityBarChart {
        /*width: 65% !important;*/
        box-shadow: none !important;
        border: none !important;
        background: none !important;
        /*margin: unset !important;*/
        margin-left: -10px !important;
        display: block;
    }

    .chartjs-render-monitor {
        height: unset !important;
        width: 1050px !important;
    }

    .historySwitch {
        display: none;
    }

    #facilityLogo {
        max-height: 280px;
    }

}