
#statsSummary tr {
    height: 90px !important;
}

.tableRowHeader {
    font-size: 1rem !important;
    width: 10%;
}

i {
    vertical-align: middle;
}

.iconText {
    font-size: 0.9rem;
    vertical-align: middle;
}

.admitsCard {
    margin: auto;
    height: 280px;
}

.admitsPieGraph {
    margin: auto;
    height: 200px;
}

.facilityProfileCard {
    max-width: 375px;
    background: none !important;
    box-shadow: none !important;
}

h5 {
    font-size: 1.4rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    line-height: 1.6;
    letter-spacing: 0.0075em;
    color: #003087;
    text-transform: uppercase;
    margin: auto;
}

#monthText {
    font-size: 1.2rem;
    color: #03B5E2;
}

h6 {
    font-size: 1.25rem;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 500;
    letter-spacing: 0.0075em;
    color: #003087;
    text-transform: none;
    margin: auto;
    padding-top: 20px;
}

#facilityNameText {
    font-size: 1rem;
    color: #365CA0;
}

/* Facility Styles */
.facilityComponent[rel="acadiamontana"] {
    --fPrimary1: #092F87;
    --fPrimary2: #222222;
    --fSecondary1: #436CA9;
    --fSecondary2: #9AB6D3;
    --fAccent: #EE7600;
}

.facilityComponent[rel="acadianatreatmentcenter"] {
    --fPrimary1: #0A5587;
    --fPrimary2: #F6B332;
    --fSecondary1: #1675A9;
    --fSecondary2: #B8D9EC;
    --fAccent: #41464D;
}

.facilityComponent[rel="acadiavermilion"] {
    --fPrimary1: #A41E34;
    --fPrimary2: #231F20;
    --fSecondary1: #ECEEEF;
    --fAccent: #FDC741;
}

.facilityComponent[rel="azureacres"] {
    --fPrimary1: #419639;
    --fPrimary2: #5a666c;
    --fSecondary1: #5a666c;
    --fSecondary2: #0E165E;
    --fAccent: #B3C381;
}

.facilityComponent[rel="baysidemarin"] {
    --fPrimary1: #A2282E;
    --fPrimary2: #69435A;
    --fSecondary1: #092F57;
    --fSecondary2: #3A5979;
    --fAccent: #7998AC;
}

.facilityComponent[rel="belmontbehavioral"] {
    --fPrimary1: #003E70;
    --fPrimary2: #E31D1A;
    --fSecondary1: #00A1E1;
    --fSecondary2: #A9DEEE;
    --fAccent: #948378;
}

.facilityComponent[rel="blueridgemountainrecovery"] {
    --fPrimary1: #03347E;
    --fPrimary2: #343434;
    --fSecondary1: #858591;
    --fSecondary2: #343434;
    --fAccent: #005DAC;
}

.facilityComponent[rel="bowlinggreenbrandywine"] {
    --fPrimary1: #0D5E1E;
    --fPrimary2: #54844F;
    --fSecondary1: #4D738A;
    --fSecondary2: #233746;
    --fAccent: #A3D65C;
}

.facilityComponent[rel="burkwoodtreatmentcenter"] {
    --fPrimary1: #166936;
    --fPrimary2: #6E5100;
    --fSecondary1: #E25829;
    --fSecondary2: #5C4520;
    --fAccent: #C34527;
}

.facilityComponent[rel="camprecovery"] {
    --fPrimary1: #006851;
    --fPrimary2: #CBE0D9;
    --fSecondary1: #ABC6CA;
    --fSecondary2: #739AA0;
    --fAccent: #F6B332;
}

.facilityComponent[rel="carolinaeatingdisorders"] {
    --fPrimary1: #FC9F4C;
    --fPrimary2: #B9B199;
    --fSecondary1: #37728D;
    --fSecondary2: #65615D;
    --fAccent: #97995C;
}

.facilityComponent[rel="cascadebh"] {
    --fPrimary1: #69813A;
    --fPrimary2: #3C441C;
    --fSecondary1: #FFB126;
    --fSecondary2: #234C5A;
    --fAccent: #73233C;
}

.facilityComponent[rel="cedarcresthospital"] {
    --fPrimary1: #05a2af;
    --fPrimary2: #0E2240;
    --fSecondary1: #C3955B;
    --fSecondary2: #7E6656;
    --fAccent: #822F32;
}

.facilityComponent[rel="centerforhopeofthesierras"] {
    --fPrimary1: #003764;
    --fPrimary2: #1B5630;
    --fSecondary1: #444A54;
    --fAccent: #FDD834;
}

.facilityComponent[rel="conwaybh"] {
    --fPrimary1: #627B96;
    --fPrimary2: #9E542A;
    --fSecondary1: #9E542A;
    --fSecondary2: #C6D7D7;
    --fAccent: #42787C;
}

.facilityComponent[rel="coveforgebehavioralhealth"] {
    --fPrimary1: #40773D;
    --fPrimary2: #9BB48D;
    --fSecondary1: #4D374D;
    --fAccent: #AE8E3F;
}

.facilityComponent[rel="coveprep"] {
    --fPrimary1: #711B45;
    --fPrimary2: #231F20;
    --fSecondary1: #65646A;
    --fSecondary2: #CDC5A5;
    --fAccent: #F19F53;
}

.facilityComponent[rel="covingtonbh"] {
    --fPrimary1: #564F22;
    --fPrimary2: #A2A466;
    --fSecondary1: #DCE6C8;
    --fSecondary2: #848647;
    --fAccent: #85A3AD;
}

.facilityComponent[rel="crestwynbh"] {
    --fPrimary1: #5E7775;
    --fPrimary2: #638B18;
    --fSecondary1: #4D4F43;
    --fSecondary2: #82A246;
    --fAccent: #FFC558;
}

.facilityComponent[rel="crosscreekhospital"] {
    --fPrimary1: #335F83;
    --fPrimary2: #748693;
    --fSecondary1: #0ABA97;
    --fSecondary2: #7B9BC0;
    --fAccent: #A93338;
}

.facilityComponent[rel="dbinstitute"] {
    --fPrimary1: #444971;
    --fPrimary2: #6786B8;
    --fSecondary1: #717BA1;
    --fSecondary2: #151B4E;
    --fAccent: #901235;
}

.facilityComponent[rel="deltamedcenter"] {
    --fPrimary1: #655579;
    --fPrimary2: #943235;
    --fSecondary1: #99999B;
    --fSecondary2: #D19115;
    --fAccent: #FFA700;
}

.facilityComponent[rel="deserthills-nm"] {
    --fPrimary1: #133595;
    --fPrimary2: #88AD92;
    --fSecondary1: #00A19C;
    --fSecondary2: #00837D;
    --fAccent: #E1854E;
}

.facilityComponent[rel="duffysrehab"] {
    --fPrimary1: #AD172B;
    --fPrimary2: #363A35;
    --fSecondary1: #A3BAC5;
    --fSecondary2: #77974C;
    --fAccent: #C28B34;
}

.facilityComponent[rel="erlangerbh"] {
    --fPrimary1: #092F87;
    --fPrimary2: #CF9F51;
    --fSecondary1: #E5C8A2;
    --fSecondary2: #BDBBBB;
    --fAccent: #3A599F;
}

.facilityComponent[rel="galaxrecovery"] {
    --fPrimary1: #5F4D63;
    --fPrimary2: #D89D5D;
    --fSecondary1: #C8893C;
    --fSecondary2: #56565A;
    --fAccent: #7D7EAB;
}

.facilityComponent[rel="greenleafhospital"] {
    --fPrimary1: #00AD68;
    --fPrimary2: #2E2925;
    --fSecondary1: #70D549;
    --fSecondary2: #008997;
    --fAccent: #65D1ED;
}

.facilityComponent[rel="harboroaks"] {
    --fPrimary1: #3B5165;
    --fPrimary2: #0099A8;
    --fSecondary1: #FCDD00;
    --fSecondary2: #014A87;
    --fAccent: #40D5AF;
}

.facilityComponent[rel="harmonyhc"] {
    --fPrimary1: #244289;
    --fPrimary2: #91A0C4;
    --fSecondary1: #2C9A40;
    --fSecondary2: #80BD01;
    --fAccent: #E31D1A;
}

.facilityComponent[rel="haverhillpavilion"] {
    --fPrimary1: #4D738A;
    --fPrimary2: #B98B1A;
    --fSecondary1: #233746;
    --fSecondary2: #92B7BC;
    --fAccent: #93B59D;
}

.facilityComponent[rel="highlandridgehospital"] {
    --fPrimary1: #8A4B51;
    --fPrimary2: #5E4272;
    --fSecondary1: #F19F53;
    --fSecondary2: #F9CB89;
    --fAccent: #E25829;
}

.facilityComponent[rel="huntingtoncreekrecovery"] {
    --fPrimary1: #455370;
    --fPrimary2: #EA4E3C;
    --fSecondary1: #6292BA;
    --fSecondary2: #BECED6;
    --fAccent: #FABF3A;
}

.facilityComponent[rel="keystonetreatment"] {
    background: #05a2af !important;
}

.facilityComponent[rel="lakelandbehavioralhealth"] {
    background: #05a2af !important;
}

.facilityComponent[rel="lakeviewbehavioralhealth"] {
    background: #05a2af !important;
}

.facilityComponent[rel="life-healing"] {
    background: #05a2af !important;
}

.facilityComponent[rel="longleafhospital"] {
    background: #05a2af !important;
}

.facilityComponent[rel="mccallumplace"] {
    background: #05a2af !important;
}

.facilityComponent[rel="meadowwoodhospital"] {
    background: #05a2af !important;
}

.facilityComponent[rel="millcreekbehavioralhealth"] {
    background: #05a2af !important;
}

.facilityComponent[rel="millcreekofmagee"] {
    background: #05a2af !important;
}

.facilityComponent[rel="millcreekofpontotoc"] {
    background: #05a2af !important;
}

.facilityComponent[rel="mirrorlakerecovery"] {
    background: #05a2af !important;
}

.facilityComponent[rel="montecatinieatingdisorder"] {
    background: #05a2af !important;
}

.facilityComponent[rel="mountcarmelbehavioralhealth"] {
    background: #05a2af !important;
}

.facilityComponent[rel="mtregis"] {
    background: #05a2af !important;
}

.facilityComponent[rel="northtampabehavioralhealth"] {
    background: #05a2af !important;
}

.facilityComponent[rel="obhhospital"] {
    background: #05a2af !important;
}

.facilityComponent[rel="ohiohospitalforpsychiatry"] {
    background: #05a2af !important;
}

.facilityComponent[rel="optionsbehavioralheathsystem"] {
    background: #05a2af !important;
}

.facilityComponent[rel="pacificgrovehospital"] {
    background: #05a2af !important;
}

.facilityComponent[rel="parkroyalhospital"] {
    background: #05a2af !important;
}

.facilityComponent[rel="pineyridge"] {

}

.facilityComponent[rel="poconomountainrecoverycenter"] {

}

.facilityComponent[rel="reboundbehavioralhealth"] {

}

.facilityComponent[rel="redriverhospital"] {

}

.facilityComponent[rel="resolutetreatmentcenter"] {

}

.facilityComponent[rel="resourcetreatmentcenter"] {

}

.facilityComponent[rel="riovistabh"] {

}

.facilityComponent[rel="riverplacebh"] {

}

.facilityComponent[rel="riverviewbehavioralhealth"] {

}

.facilityComponent[rel="riverwoodsbehavioral"] {

}

.facilityComponent[rel="rollinghillshospital"] {

}

/* Wildcard CTCs */
.facilityComponent[rel*="ctc"] {
    --fPrimary1: #244289;
    --fPrimary2: #436ca9;
    --fSecondary1: #84256c;
    --fSecondary2: #363a35;
    --fAccent: #00aebc;
}

.facilityComponent [class^="CardHeader"] {
    background: var(--fPrimary1) !important;
}

.facilityComponent h3 {
    color: var(--fPrimary2) !important;
}

.facilityComponent h5 {
    color: var(--fPrimary2) !important;
}

.facilityComponent h6 {
    color: var(--fPrimary2) !important;
}

.facilityComponent #monthText {
    color: var(--fPrimary1) !important;
}

.facilityComponent #facilityNameText {
    color: var(--fPrimary1) !important;
}

/* Export Accent color for use in react components */
@value fAccent: var(--fAccent);

#admitsGoalTitle {
    color: var(--fPrimary2) !important;
}

.nivoCard [class^="CardBody"] {
    padding: unset !important;
}

.iconText {
    display: inline-block;
}

/* Styles applied for PDF printing */
@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        padding-left: 0px !important;
        text-align: center !important;
    }

    .hidePrint {
        display: none !important;
    }

    .facilityPrint {

    }

    [class^="Card"] {
        display: block !important;
        width: auto !important;
        margin: auto !important;
        border: none !important;
        box-shadow: none !important;
        /*max-height: 600px;*/
    }

    [class^="CardHeader"] {
        width: 100% !important;
        display: block !important;
    }

    #statsSummary {
        margin-top: 40px !important;
    }

    #statsSummary [class^="CardBody"] {
        display: inline-flex !important;
    }

    .facilityPieRow {
        margin-left: -40px !important;
        display: inline-flex !important;
    }

    .nivoCard {
        display: inline-block !important;
        width: 26% !important;
        padding: 4px !important;
        box-shadow: none !important;
        background: none !important;
        margin: unset !important;
        text-align: center !important;
    }

    .nivoCard [class^="CardHeader"] {
        width: 90% !important;
        left: 40px;
    }

    .nivoGraph {
        height: 365px !important;
    }

    .facilityBarChart {
        /*width: 65% !important;*/
        box-shadow: none !important;
        border: none !important;
        background: none !important;
        margin-top: 40px !important;
    }

    .facilityBarChart [class^="CardBody"] {
        padding: 10px 0 !important;
        margin: 30px 0 !important;
        page-break-after: always;
    }

    .chartjs-render-monitor {
        height: unset !important;
        width: 1080px !important;
        display: block;
        margin: auto;
    }

    .historySwitch {
        display: none;
    }

    #facilityLogo {
        max-height: 280px;
    }

    .iconText {
        font-size: 0.8125rem;
        display: block;
    }

    /* Fix for comments label getting cutoff */
    [class^="MuiFormControl"] {
        overflow-x: unset !important;
    }

}